@font-face {
    font-family: "Brightsun";
    src: url(./fonts/brightsun.otf) format("opentype");
}

@font-face {
    font-family: "ColoringRainbow";
    src: url(./fonts/colouring_rainbow.otf) format("opentype");
}

@font-face {
    font-family: "FruitsDays";
    src: url(./fonts/fruits_days.otf) format("opentype");
}

@font-face {
    font-family: "Sandwich";
    src: url(./fonts/sandwich.otf) format("opentype");
}

:root {
    --bg-color: #ecf2cf;
    --bg-color-side: #c2c33a;
    --active-button-color: #cdd76d;
}

body {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
}

#side-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-side);
    width: min(90vw, 1500px);
    justify-self: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#side-bar button {
    background-color: inherit;
    border: none;
    font-family: "Brightsun";
    font-size: 4rem;
    height: 100%;
    width: 20%;
}

#side-bar button:hover, #side-bar button.active:hover {
    filter: brightness(0.75);
}

#side-bar button.active {
    background-color: var(--active-button-color);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 30px;
    background-color: var(--bg-color);
}

#content img {
    border-radius: 15px;
}

#landing-text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: min(80vw, 1000px);
}

.welcome {
    white-space: pre-wrap;
    font-family: "FruitsDays";
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.15rem;
}

.welcome:first-child {
    font-size: 4rem;
    align-self: center;
    font-weight: 550;
    letter-spacing: 0.25rem;
    text-decoration: black wavy underline;
    margin-bottom: 20px;
}

.menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: var(--bg-color);
}

.menu-items-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: fit-content;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 512px;
    height: 100%;
}

.menu-item :first-child {
    font-size: 4rem;
    font-family: "Sandwich";
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.menu-item :last-child {
    font-family: "FruitsDays";
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
}

.menu-section-header {
    font-size: 6rem;
    font-family: "Brightsun";
    margin: 20px;
}